.footer{
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 25px;
    background-color:transparent;
    
}
.fLists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: black;
}
.fList {
  list-style: none;
  padding-top: 40px;
  color: black;
}
.fListItem {
  margin-bottom: 10px;
  color: black;
  cursor: pointer;
}
.fText{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
hr{
  width: 100%;
}
.payments{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payment{
  height: 60px;
  padding: 5px;
  margin-bottom: 15px;
}